{% set classes = [
    additionalClass|e('html_attr'),
    'o-two-column-content-component bigContainer'  
] %}

{% if reverse %}
    {% set classes = classes|merge(['o-two-column-content-component--reverse']) %}
{% endif %}

{% if equal_columns == '70' %}
    {% set classes = classes|merge(['o-two-column-content-component--two-third']) %}
{% endif %}

{% if video %}
    {% set classes = classes|merge(['o-two-column-content-component--has-video']) %}
{% endif %}

<div class="{{ classes|join(' ') }} container" style="padding: 0px;">
    <div class="o-two-column-content-component__inner">

        {% if custom_reverse != 'offline' %}
            <div class="o-two-column-content-component__column o-two-column-content-component__column--img">
                {% if video %}
                    {% include 'components/atoms/video/video.twig' with {
                    additionalClass: 'o-two-column-content-component__video',
                    image: image,
                    video: video
                } only %}
                {% elseif image %}
                    {% include 'components/atoms/image/image-query.twig' with {
                    additionalClass: 'o-two-column-content-component__img',
                    image:image

                } %}
                {% endif %}
            </div>
        {% endif %}
        {% if custom_reverse == 'offline' %}
            <div class="two-column-component left-side-component">
                {% if heading|trim and custom_reverse == 'offline' %}
                {% set tag = heading_tag|default('h2') %}

                {% if tag not in ['h1','h2','h3','h4','h5','h6'] %}
                    {% set tag = 'h2' %}
                {% endif %}

                <{{ tag }} class="h3 content__heading {{ custom_reverse }}">
                    {{ heading|trim }}
                </{{ tag }}>
            {% endif %}

                {% if subheading and custom_reverse == 'offline' %}
                    <p class="content__subheading {{ custom_reverse }}">
                        {{ subheading }}
                    </p>
                {% endif %}
                {% for lcontent in left_content %}
                    <div class="opt-spec-container">
                        {% for single in lcontent.single_opt_property %}
                            <div class="opt-spec-container-inner">
                                <p>
                                    {{ single.single_property_value }}
                                    <span> 
                                        {{ single.single_property_label }}
                                    </span>
                                </p>
                                <div class="opt-spec-more-info">
                                    {{ single.single_property_desc }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="o-two-column-content-component__column o-two-column-content-component__column--content">
            <div class="o-two-column-content-component__content content">
                {% if subheading and custom_reverse != 'offline' %}
                    <p class="content__subheading">
                        {{ subheading }}
                    </p>
                {% endif %}

                {% if heading|trim and custom_reverse != 'offline' %}
                    {% set tag = heading_tag|default('h2') %}

                    {% if tag not in ['h1','h2','h3','h4','h5','h6'] %} 
                        {% set tag = 'h2' %}
                    {% endif %}

                    <{{ tag }} class="h3 content__heading">
                        {{ heading|trim }}
                    </{{ tag }}>
                {% endif %}


                {% if content %}
                    {% for contentItem in content %}
                        {% if contentItem.acf_fc_layout == 'title' %}
                            <div class="title_column">
                                <p>
                                    {{ contentItem.title }}
                                </p>
                            </div>
                        {% elseif contentItem.acf_fc_layout == 'description' %}
                            <div class="content__description {{ custom_reverse }}">
                                <p>
                                    {{ contentItem.description|raw }}
                                </p>
                            </div>
                        {% elseif contentItem.acf_fc_layout == 'contact-info' %}
                            <div class="content__contact-info-wrapper">
                                {% include 'components/atoms/contact-info/contact-info.twig' with contentItem.contactPerson|merge ({
                                    additionalClass: 'content__contact-info',
                                }) only %}
                            </div>
                        {% elseif contentItem.acf_fc_layout == 'link' %}
                            {% if contentItem.buttonAction == 'form' %}
                                {% include 'components/atoms/button/button.twig' with {
                                    additionalClass: 'content__link js-open-side-form',
                                    secondary: true,
                                    text: contentItem.buttonText
                                } only %}
                            {% elseif contentItem.link %}

                                {% include 'components/atoms/button/button-link.twig' with contentItem.link|merge({
                                    additionalClass: 'content__link',
                                    secondary: true
                                }) only %}
                            {% endif %}
                        {% elseif contentItem.acf_fc_layout == 'table' %}
                            <dl class="content__table table">
                                {% for item in contentItem.table %}
                                    <dt class="table__label">
                                        {{ item.label }}
                                    </dt>
                                    <dd class="table__value">
                                        {{ item.value }}
                                    </dd>
                                {% endfor %}
                            </dl>

                        {% elseif contentItem.acf_fc_layout == 'list' %}
                            {% set isOneColumn = contentItem.listView is defined and contentItem.listView == '1column' %}
                            {% set listItems = contentItem.list is defined ? contentItem.list : [] %}

                            <ul class="content__list list{% if isOneColumn %} listOneColumn{% endif %}">
                                {% for item in listItems %}
                                    {% if item.text is defined %}
                                        <li class="list__item">
                                            {{ item.text }}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% elseif contentItem.acf_fc_layout == 'price_from' %}

                            {% for item in contentItem.price_from_group %}
                                <div class="price_from_container">
                                    <div class="price_from_text">
                                        {{ item.price_from_text }}
                                    </div>
                                    <div class="price_from_price">
                                        <b>
                                            {{ item.field_price|raw }}
                                        </b>
                                        &nbsp; zł brutto
                                    </div>
                                    <style>
                            .price_from_container {
                                margin-top:20px;
                            }
                            .price_from_text {
                                color: #6D6D6D;
                                font-size:12px;
                                line-height:18px;
                                font-weight:400;
                                margin-bottom:4px;
                            }
                            .price_from_price {
                                 font-size:12px;
                                line-height:18px;
                                font-weight:400;
                                color:#1C6BBA;
                            }
                            .price_from_price b {
                                font-size:20px;
                                line-height:28px;
                                font-weight:600;
                                color:#1C6BBA;
                            }
                        </style>
                                </div>
                            {% endfor %}

                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if buttons %}
                    <div class="content__buttons">
                        {% for button in buttons %}
                            <div class="content__buttons-item">
                                {% set additionalClass = ['content__buttons-link'] %}

                                {% if button.additionalClass %}
                                    {% set additionalClass = additionalClass|merge([button.additionalClass]) %}
                                {% endif %}

                                {% include 'components/atoms/button/button-link.twig' with button|merge({
                                    additionalClass: additionalClass|join(' '),
                                    secondary: true
                                }) only %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<style>
.listOneColumn{
    grid-template-columns: repeat(1, 1fr) !important;
}
.o-two-column-content-component__column--img{
    height: auto; 
}
.o-two-column-content-component__img{
    position: relative; 
}
    .two-column-component.left-side-component {
    width:100%;
    max-width:50%;
    .opt-spec-container {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        width:472px;
        margin:0 auto;
        padding: 45px 0 0 0;
        .opt-spec-container-inner {
            width: 236px;
            margin-bottom:24px;
            p {
                font-size:32px;
                font-weight:600;
                span {
                    font-size:20px;
                    font-weight:600;
                    margin-left:0;
               }
           }
            div {
                font-weight:350;
                font-size:16px;
                color:#616161;
           }
       }
   }
    h2 {
        &.offline {
            padding-left:80px;
            margin-bottom:0!important;
            font-size:32px;
       }
   }
    p {
        &.content__subheading.offline {
            padding-left:80px;
            font-size:32px;
            line-height:36px;
            color:#616161;
            font-weight:600;
       }
   }
}
.bigContainer {
    .title_column {
        p {
            font-size:16px;
            font-weight:600;
            margin-bottom:4px;
       }
   }
    .content__description.offline {
        p {
            font-size:16px;
            margin-bottom:32px;
       }
   }
}
@media screen and (max-width:768px) {
    .o-two-column-content-component__inner {
        flex-direction: column-reverse;
        > div {
       }
   }
    .two-column-component.left-side-component {
        width:100%;
        max-width:100%;
        .opt-spec-container {
            align-items:center;
            width:100%;
            .opt-spec-container-inner {
                text-align:center;
                width:100%;
           }
       }
        h2 {
            &.offline {
                padding-left:0;
                margin-bottom:0!important;
                font-size:22px;
           }
       }
        p {
            &.content__subheading.offline {
                padding-left:0;
                font-size:22px!important;
           }
       }
   }
}

</style>
