{% if title_1 %}
<h2 class="h2 o-accordion-section__heading heading">
    <span class="heading__grey"><strong>{{title_1}}</strong> {{title_2}}</span>
</h2>
{% endif %}

<div class="o-offer-cards">
    <div class="container">
        {{ openSection(false,3,false)|raw }}
        {% include 'components/atoms/section-heading/section-heading.twig' with {
            additionalClass: 'o-stock-cars-slider__heading',
            grey: heading,
        } %}
        {{ closeSection(false)|raw }}
        <div class="o-offer-cards__list">
            {% for post in posts %}                
                <a href="{{ post.link.url }}"
                   class="o-offer-cards__item item"
                        {% if post.link.nofollow %} rel="noopener noreferrer nofollow"{% endif %}
                        {% if post.link.target == '_blank' %} target="_blank" {% endif %}
                >
                    <div class="item__inner">
                        <div class="item__header">
                            {% include 'components/atoms/image/image.twig' with post.image|merge({
                                additionalClass: 'item__header-image'
                            }) %}
                        </div>
                        <div class="item__content">
                            <h3 class="item__heading">{{ post.heading|trim }}</h3>
                            <p class="item__description">{{ post.description|trim }}</p>
                            <div class="blog_lower_part">
                            <span class="item_date">Data publikacji: {{ post.date }}</span>
                            <span class="cta_button">{{ post.ctaText|trim }}</span>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>

<div id="blog_pagination" class="l-stock__pagination js-stock__pagination">
    <input type="hidden" name="page" class="js-stock__currentPage" value="{{ pagination.currentPage }}">
    <input type="hidden" name="resetPagination" class="js-stock__resetPagination" value="1">
    {% if pagination.maxPages > 1 %}
        {% include 'components/atoms/pagination/pagination.twig' with {
            currentPage: pagination.currentPage,
            maxPages: pagination.maxPages,
        } only %}
    {% endif %}
</div>

<style>
    .heading__grey {
        color: #707070;
    }

    .blog_lower_part {
        padding-top: 1rem;
        border-top: solid 1px #d5d5d5;
        margin: auto 0 0;
        line-height: 24px;
    }
    .blog_lower_part > span.item_date {
        color:#6D6D6D;
        font-weight:400;
        font-size:14px;
        line-height:20px;
    }
    .blog_lower_part > span.cta_button {       
        line-height: 24px;
        font-size: 14px;
        font-weight: 500;
        text-align: right;
        text-transform: uppercase;
        color: #1c6bba;
        float:right;
    }
</style>