{% if result %}
{% set heading = 'Zapisz się' %}

{% endif %}
<div class="o-form-service js-form-service  gtm-form-service">
    <div class="o-form-service__container container {% if result %}moreWidth{% endif %}">
        <div class="o-form-service__wrap">
            <div class="o-form-service__inner js-form-service__inner">
                <div class="o-form-service__step-form js-form-service__step-form">
                    <form id="form-services-others" class="o-form-service__form js-form-service__form" action="/serwis"  novalidate>
                        <input type="hidden" name="source" value="{{ source }}">
                        <input type="hidden" name="origin" value="service">
                        {% if vin %}
                        <input type="hidden" name="vin" value="{{vin}}" />
                        {% endif %}
                        <input type="hidden" name="model" value="{{model}}" />
                        <input type="hidden" name="destination" value="{{ destination }}">
                        <h2 class="o-form-service__heading">{{ heading|trim|raw }}</h2>
                        <h2 class="heading_more">{{ heading_more|trim|raw }}</h2>
                        {% if showrooms %}
                            <fieldset class="o-form-service__section">
                                <legend class="o-form-service__section-label">Wybierz serwis:</legend>
                                {% include 'components/atoms/showroom-filter/showroom-filter.twig' with {
                                    additionalClass: 'o-form-service__showrooms',
                                    filters: showrooms
                                } %}
                            </fieldset>
                        {% endif %}
                       
                        {% if global_form %}
                        <fieldset class="o-form-service__section" style="border:0;">
                            <legend class="o-form-service__section-label">Wybierz serwis:</legend>
                            <div class="content__item split-2" id="selectCar11">
                                    {% include 'components/atoms/select_new/select-form-salon.twig' with {
                                    label: 'Wybierz salon',
                                    name: 'salon',
                                    global_form: global_form,
                                    multiple: 'false',
                                } %}
				                </div>  
                        </fieldset>
                        {% endif %}
                        <fieldset class="o-form-service__section">
                            <legend class="o-form-service__section-label">Dane kontaktowe:</legend>
                            <div class="o-form-service__contact">
                                <div class="o-form-service__contact-field">
                                    {% include 'components/atoms/input/input.twig' with {
                                        additionalClass: 'o-form-service__contact-input',
                                        label: 'Imię',
                                        name: 'name',
                                        mandatory: true,
                                    } only %}
                                    {% include 'components/atoms/error/error.twig' with {
                                        for: 'name',
                                    } only %}
                                </div>
                                <div class="o-form-service__contact-field">
                                    {% include 'components/atoms/input/input.twig' with {
                                        additionalClass: 'o-form-service__contact-input',
                                        label: 'Nazwisko',
                                        name: 'surname',
                                        mandatory: true,
                                    } only %}
                                    {% include 'components/atoms/error/error.twig' with {
                                        for: 'surname',
                                    } only %}
                                </div>
                                <div class="o-form-service__contact-field">
                                    {% include 'components/atoms/input/input.twig' with {
                                        additionalClass: 'o-form-service__contact-input',
                                        label: 'Numer telefonu',
                                        name: 'phoneNumber',
                                        mandatory: true,
                                     } only %}
                                    {% include 'components/atoms/error/error.twig' with {
                                        for: 'phoneNumber',
                                    } only %}
                                </div>
                                <div class="o-form-service__contact-field">
                                    {% include 'components/atoms/input/input.twig' with {
                                        additionalClass: 'o-form-service__contact-input',
                                        label: 'E-mail',
                                        name: 'email',
                                        mandatory: true,
                                    } only %}
                                    {% include 'components/atoms/error/error.twig' with {
                                        for: 'email',
                                    } only %}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="o-form-service__section"  {% if result %} style="padding-bottom:4px;display:none;" {% endif %}>
                            <legend class="o-form-service__section-label">Dane auta <span>(wpisz numer VIN lub wybierz rok i model):</span></legend>
                            <div class="o-form-service__car car">
                                <div class="car__top">
                                    <div class="car__top-vin">
                                        {% include 'components/atoms/input/input.twig' with {
                                            additionalClass: '',
                                            label: 'Numer VIN',
                                            name: 'vin',
                                            value: (vin ? vin : null)
                                        } only %}
                                        {% include 'components/atoms/error/error.twig' with {
                                            for: 'vin',
                                        } only %}
                                    </div>
                                    <div class="car__top-year">
                                        {% include 'components/atoms/input/input.twig' with {
                                            additionalClass: '',
                                            label: 'Rok produkcji',
                                            name: 'productionYear',
                                            value: (year ? year : null)
                                        } only %}
                                        {% include 'components/atoms/error/error.twig' with {
                                            for: 'productionYear',
                                        } only %}
                                    </div>
                                </div>
                                <div class="car__models models js-form-service-models">
                                    {% for model in models %}
                                        {% if models|length > 4 %}
                                            {% if loop.index == 5 %}
                                                <div class="models__more js-form-service-models__container js-form-service-models__container">
                                                <div class="models__more-inner js-form-service-models__inner js-form-service-models__inner">
                                            {% endif %}
                                        {% endif %}
                                        {% if result %}

                                        {% else %}
                                        {% include 'components/atoms/input-radio/input-radio.twig' with {
                                            additionalClass: 'models__item',
                                            name: 'model',
                                            value: model,
                                            label: model
                                        } only %}
                                        {% endif %}
                                        {% if models|length > 4 %}
                                            {% if loop.last == 4 %}
                                                </div>
                                                </div>
                                                <button class="models__toggle js-form-service-models__toggle" data-alt-text="Mniej modeli">Więcej modeli</button>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </fieldset>
                       
                        <fieldset class="o-form-service__section">
                         {% if result == null %}
                            <div class="o-form-service__categories categories">
                                {% for category in categories %}
                                    <div class="categories__item js-form-service-category">
                                        <input class="categories__item-input" type="checkbox" name="services[]" value="{{ category.name|trim }}"/>
                                        <div class="categories__item-checkbox js-form-service-category__trigger"></div>
                                        <div class="categories__item-label label">
                                            <div class="label__icon js-form-service-category__trigger">{{ getSVG(category.icon)|raw }}</div>
                                            <label class="label__heading js-form-service-category__trigger">{{ category.name|trim }}</label>
                                            <div class="label__description js-form-service-category__description">
                                                <div class="label__description-inner js-form-service-category__description-inner">
                                                    {{ category.description|trim }}
                                                    <button class="label__description-toggle label__description-toggle--shrink js-form-service-category__description-shrink">Mniej</button>
                                                </div>
                                                <button class="label__description-toggle label__description-toggle--expand js-form-service-category__description-expand">Więcej</button>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% include 'components/atoms/textarea/textarea.twig' with {
                                additionalClass: 'o-form-service__message',
                                label: 'Wiadomość',
                                name: 'message',
                                value: '',
                                placeholder: 'Dzień dobry, interesuje mnie przegląd mojego Volvo.'
                            } only %}
                            <div class="o-form-service__consents">
                                {% include 'components/atoms/checkbox/checkbox.twig' with {
                                    additionalClass: 'o-form-service__consents-item',
                                    name: 'dataProcessingConsent',
                                    mandatory: true,
                                    label: 'Wyrażam zgodę na przetwarzanie moich danych osobowych, w tym danych kontaktowych, danych historii zakupów produktów i usług Volvo oraz danych dotyczących korzystania z serwisów volvocars.com przez Volvo Car Poland sp. z o.o. w celu marketingu bezpośredniego produktów i usług marki Volvo.',
                                    detailsLabel: 'Jeżeli wyrazi Pan/Pani zgodę, Pana/Pani dane osobowe będą przetwarzane przez administratora - Volvo Car Poland sp. z o.o., Warszawa (02-884), ul. Puławska 558/560 (VCP), na podstawie art. 6 ust. 1 pkt a) ogólnego rozporządzenia o ochronie danych osobowych (RODO), w celu marketingu bezpośredniego produktów i usług marki Volvo, takich jak samochody, części i akcesoria, usługi Volvo Car Financial Services oraz inne usługi dostępne w sieci Volvo. Informujemy, że: podanie danych jest dobrowolne, może Pan/Pani w każdej chwili wycofać zgodę (w tym przy użyciu danych kontaktowych administratora lub inspektora ochrony danych), wycofanie zgody nie wpływa na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej wycofaniem, z inspektorem ochrony danych VCP może się Pan/Pani skontaktować przy użyciu adresu mailowego: globdpo@volvocars.com, odbiorcami Pana/Pani danych osobowych będą podmioty świadczące usługi na rzecz VCP, w tym: dostawcy usług marketingowych i IT, autoryzowani dealerzy Volvo, podmioty z grupy kapitałowej Volvo oraz partnerzy oferujący produkty Volvo Car Financial Services (np. kredyty, leasingi i ubezpieczenia), dane osobowe będą przechowywane nie dłużej niż przez 30 lat, przysługuje Panu/Pani prawo dostępu do treści danych osobowych oraz prawo ich sprostowania, usunięcia, ograniczenia przetwarzania i przeniesienia (wniosek o realizację tych uprawnień można złożyć pod adresem: https://www.volvocars.com/pl/forms/subject-rights-request-form), a także prawo do wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych, Pana/Pani dane osobowe będą przetwarzane również w formie profilowania online i profilowania społecznościowego, które będzie polegało na zbieraniu i agregowaniu Pana/Pani danych w celu stworzenia profilu klienta i przedstawiania materiałów reklamowych i ofert lepiej dostosowanych do Pana/Pani potrzeb. Więcej informacji o przetwarzaniu danych osobowych w sieci Volvo zamieściliśmy na stronie: https://www.volvocars.com/pl/footer/polityka-prywatnosci'
                                } only %}
                                {% include 'components/atoms/error/error.twig' with {
                                    for: 'dataProcessingConsent',
                                } only %}
                                {% include 'components/atoms/checkbox/checkbox.twig' with {
                                    additionalClass: 'o-form-service__consents-item',
                                    name: 'tradeContactConsent',
                                    label: 'Wyrażam zgodę na kontakt telefoniczny.',
                                    detailsLabel: 'Wyrażam zgodę na prowadzenie przez Volvo Car Poland sp. z o.o. (ul. Puławska 558/560, 02-884 Warszawa), lub na jej zlecenie marketingu bezpośredniego produktów i usług marki Volvo, takich jak samochody, części i akcesoria, usługi Volvo Car Financial Services oraz inne usługi dostępne w sieci Volvo, poprzez kontakt głosowy na podany przeze mnie numer telefonu, w tym przy użyciu automatycznych systemów wywołujących. Zgoda jest dobrowolna i może być w każdej chwili wycofana (w tym przy użyciu danych kontaktowych wskazanych powyżej lub w wiadomości e-mail wysłanej na adres inspektora ochrony danych: globdpo@volvocars.com). Wycofanie zgody nie wpływa na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej wycofaniem. Pozostałe informacje dotyczące przetwarzania danych w celach marketingowych znajdziesz w powyższej klauzuli zgody na przetwarzanie danych osobowych w celach marketingowych lub na stronie https://www.volvocars.com/pl/footer/polityka-prywatnosci.'
                                } only %}
                                {% include 'components/atoms/checkbox/checkbox.twig' with {
                                    additionalClass: 'o-form-service__consents-item',
                                    name: 'marketingContactConsent',
                                    label: 'Wyrażam zgodę na kontakt mailowy.',
                                    detailsLabel: 'Wyrażam zgodę na prowadzenie przez Volvo Car Poland sp. z o.o. (ul. Puławska 558/560, 02-884 Warszawa) lub na jej zlecenie marketingu bezpośredniego produktów i usług marki Volvo, takich jak samochody, części i akcesoria, usługi Volvo Car Financial Services oraz inne usługi dostępne w sieci Volvo, poprzez przesyłanie informacji handlowych za pomocą środków komunikacji elektronicznej, w szczególności za pomocą poczty elektronicznej, a także za pomocą wiadomości SMS, na podany przeze mnie adres e-mail lub numer telefonu komórkowego. Zgoda jest dobrowolna i może być w każdej chwili wycofana (w tym przy użyciu danych kontaktowych wskazanych powyżej lub w wiadomości e-mail wysłanej na adres inspektora ochrony danych: globdpo@volvocars.com). Wycofanie zgody nie wpływa na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej wycofaniem. Pozostałe informacje dotyczące przetwarzania danych w celach marketingowych znajdziesz w powyższej klauzuli zgody na przetwarzanie danych osobowych w celach marketingowych lub na stronie https://www.volvocars.com/pl/footer/polityka-prywatnosci.'
                                } only %}
                                <div class="o-form-service__consents-annotation">
                                    <p>* Dane konieczne do podania w celu umożliwienia kontaktu i przedstawienia oferty, przy czym
                                        spośród danych: numer telefonu i adres e-mail wystarczy podanie tylko jednej z tych danych
                                        wraz z zaznaczeniem odpowiedniej zgody poniżej (druga zgoda jest zgodą na kontakt telefoniczny, zaś
                                        trzecia zgoda jest zgodą na kontakt mailowy). Pierwsza z poniższych zgód jest konieczna do
                                        zaznaczenia w celu umożliwienia kontaktu i przedstawienia oferty, niezależnie od tego, czy
                                        podany zostanie numer telefonu czy adres e-mail.</p>
                                </div>
                            </div>
                        </fieldset>
                        {% include 'components/atoms/button/button.twig' with {
                            additionalClass: 'o-form-service__submit',
                            type: 'submit',
                            form: 'form-services-others',
                            text: 'Wyślij wiadomość'
                        } only %}
                    </form>
                </div>
                <div class="o-form-service__step-thanks js-form-service__step-thanks">
                    <div class="o-form-service__thanks thanks js-form-service__thanks">
                    {% if thankYouImage %}
                             {% include 'components/atoms/image/image.twig' with thankyouImage|merge({
                            additionalClass: 'thanks__image'
                        }) only %}
                    {% else %}
                        <img src="https://main.volvocars-partner.pl/app/uploads/2021/07/formThanksImage-300x169.png" class="thanks__image"/>
                    {% endif %}
                       
                        <h2 class="thanks__heading h3">Dealer {{ partnerName }} otrzymał&nbsp;twoją&nbsp;wiadomość</h2>
                        {% include 'components/atoms/status/status.twig' with {
                            additionalClass: 'thanks__status',
                            message: 'Wszystko poszło zgodnie z planem. Nasz pracownik skontaktuje się z Tobą w ciągu 2 godzin.'
                        } only %}
                        {% include 'components/atoms/button/button.twig' with {
                            additionalClass: 'thanks__revert-btn js-form-service__revert-btn',
                            text: 'Wyślij ponownie Formularz'
                        } only %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-form-service__loading">
        {% include 'components/atoms/spinner/spinner.twig' %}
    </div>
</div>
<style>
{% if global_service %}
.a-logo__text {
    display:none!important;
}
.bar__nav.m-main-nav {
    display:none;
}
.l-service__contacts.contacts {
    display:none;
}
footer {
    display:none;
}
{% endif %}
@media screen and (max-width:997px) {
    .label__description-inner.js-form-service-category__description-inner {
        overflow: hidden;
        padding-right: 62px;
        white-space: unset!important;
        color: #707070;
        text-overflow: unset!important;
    }
    .o-form-service .categories__item .label__description {
        overflow:unset!important;
        max-height:unset;
    }
    .o-form-service .categories__item .label__description button {
        display:none;
    }
}
</style>
<script type="text/javascript">
{% if global_service %}
$('a.bar__logo.a-logo').attr('href','/serwis');
{% endif %}
    $('#form-services-others').submit(function() {
        if ($('.always-active').length > 0) {
            $('.always-active').hide();
        }
    
          let inter = setInterval(function() {
            if ($('.thanks__title.h3').is(":visible") && $('.thankscode_req').length == 0) {
                $('body').append('<div class="thankscode_req"></div>');
                $('body').append(thanks_code);
                let current_path = $(location).attr("pathname");
          
                if (current_path.indexOf('/serwis') > -1) {
                          gtag('event', 'service', {
                         'form_send': '1',                        
                         });
                }
              /*  if (current_path == '/kontakt/') {                  
                    gtag('event', 'contact', {
                        'form_send': '1',                        
                    });
                }            */
            }
        },100);
       
      
    })
</script>