{% if single %}
{% else %}
{% set single = false %}
{% endif %}
<div class="{{ additionalClass|e('html_attr') }} a-select a-select--multi js-select-multi" data-field-name="{{ name }}[]" data-field-multiple="{{ multiple }}">
    <select {% if single %} name="{{ name }}" {% else %} name="{{ name }}[]" multiple {% endif %}>
        {% for item in items %}
            <option value="{{ item.value }}" {{ item.value in selected ? 'selected' : '' }}>{{ item.label }}</option>
        {% endfor %}
    </select>

    <div class="a-select__input a-input js-select-multi__input">
        <div class="a-input__field js-select-multi__field"></div>
        {% if label %}
            <label class="a-input__label">{{ label }}{% if mandatory %}*{% endif %}</label>
        {% endif %}
        <div class="a-select__input-arrow a-arrow a-arrow--bottom"></div>
    </div>
    <div class="a-select__list list js-select-multi__list">
        <div class="list__expandable js-select-multi__expandable">
            <ul class="list__items js-select-multi__items">
                <li class="list__search search" style="display:none;">
                    <div class="search__wrapper">
                        <input type="text" name="{{ name }}_search" class="search__input js-select-multi__search-input" aria-label="Wyszukaj {{ label }}">
                        <div class="search__icon">
                            {{ getSVG('icon_search')|raw }}
                        </div>
                    </div>
                </li>
                {% for item in items %}
                    <li class="list__item item js-select-multi__item" data-value="{{ item.value }}">
                        <span class="item__icon"></span>
                        <span class="item__label">{{ item.label }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>